<h2>Create Post</h2>
<br/>
<form action="/posts/" method="post" role="form">
  <div class="form-group">
    <label for="post_title">Title:</label>
    <br>
    <input id="post_title" class="form-control" name="post[title]" type="text" style="width=90%"/>
  </div>
  <br>
  <div class="form-group">
    <label for="post_body">Description:</label>
    <br>
    <textarea id="post_body" name="post[body]" class="form-control" rows="10"></textarea>
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>